# Условие задачи

Кто там? Предскажите, кто вошел в здание по времени и турникету. Но теперь легче: мы знаем, что "след" через турникеты принадлежит "Х". Кто этот "Х" предстоит вычислить по данным, которые нам известны. А ID юзеров известны по обучающей выборке (кроме нескольких новых!).
Чтобы попасть в здание, нужно пройти через турникет. Чтобы открыть парковку, нужно открыть шлагбаум. Чтобы попасть на этаж, нужно приложить “таблетку”. Все это фиксируется - кто, в какую дату, в какое время.
Сможем ли мы выучить кому конкретно принадлежит след прохода через турникеты? Теперь мы знаем, что это был кто-то, кто уже был. (Правда, есть и несколько - не больше 10% - новых).
“8 утра понедельник, турникет 4? Директор.” “11 утра суббота? Гриша. Но Гриша в последний день месяца никогда не приходит.”  Какие есть паттерны в настоящих данных?

В тестовой выборке id посетителей заменены на слова, которые встречались в курсе "Линейные модели": aucroc, binary, blue, categorical и т.п.
Ваша задача в этом раунде составить таблицу вида:
```
user_word	preds
aucroc	49
binary	12
blue	55
categorical	-999
coefficient	15
```
где user_word - index, preds - колонка с соответствующими id. Таблицу нужно запомнить как csv (см. пример в секции Data). -999 – id нового посетителя, которого раньше не было.
Каждому слову сопоставлен вес, который зависит от того, насколько трудно предсказать id. Баллы набираются как взвешенная по весам сумма правильных ответов. Чем сложнее вы отгадали слово, тем больше баллов.

Отгадали все? Забирайте 560 баллов и становитесь победителем.

Используем деревья и ансамбли.

In [1]:
import pandas as pd

In [2]:
input_train_df = pd.read_csv('train.csv', index_col=0)
input_train_df.ts = pd.to_datetime(input_train_df.ts)
input_test_df = pd.read_csv('test.csv', index_col = 0)
input_test_df.ts = pd.to_datetime(input_test_df.ts)

In [3]:
input_train_df

       user_id                  ts  gate_id
0           18 2022-07-29 09:08:54        7
1           18 2022-07-29 09:09:54        9
2           18 2022-07-29 09:09:54        9
3           18 2022-07-29 09:10:06        5
4           18 2022-07-29 09:10:08        5
...        ...                 ...      ...
37513        6 2022-12-31 20:38:56       11
37514        6 2022-12-31 20:39:22        6
37515        6 2022-12-31 20:39:23        6
37516        6 2022-12-31 20:39:31        9
37517        6 2022-12-31 20:39:31        9

[37518 rows x 3 columns]

In [4]:
input_test_df

                       ts  gate_id  user_word
37518 2023-01-03 08:21:00        9       gini
37519 2023-01-03 08:21:00        9       gini
37520 2023-01-03 08:21:18        5       gini
37521 2023-01-03 08:21:19        5       gini
37522 2023-01-03 08:21:39       10       gini
...                   ...      ...        ...
44638 2023-02-24 19:43:36       11  collinear
44639 2023-02-24 19:44:00        4  collinear
44640 2023-02-24 19:44:01        4  collinear
44641 2023-02-24 19:44:09        9  collinear
44642 2023-02-24 19:44:09        9  collinear

[7125 rows x 3 columns]

# Работа с данными

Разобъём данные на несколько логичных стоблцов. Время в юникс, номер дня в неделе, рабочий ли день

In [5]:
train_df = pd.DataFrame(input_train_df)
test_df = pd.DataFrame(input_test_df)
train_df['Time'] = train_df['ts'].apply(lambda x: x.timestamp())
train_df['Year'] = train_df['ts'].dt.year
train_df['Month'] = train_df['ts'].dt.month
train_df['Day'] = train_df['ts'].dt.day
train_df['Time(unix)'] = (train_df['ts'] - pd.to_datetime(train_df['ts'].dt.date)).dt.total_seconds()
train_df['DayPosition'] = train_df['ts'].dt.dayofweek
train_df['IsWorkDay'] = train_df['ts'].dt.weekday < 5
train_df['IsWorkDay'] = train_df['IsWorkDay'].astype(int)
#
test_df['Time'] = test_df['ts'].apply(lambda x: x.timestamp())
test_df['Year'] = test_df['ts'].dt.year
test_df['Month'] = test_df['ts'].dt.month
test_df['Day'] = test_df['ts'].dt.day
test_df['Time(unix)'] = (test_df['ts'] - pd.to_datetime(test_df['ts'].dt.date)).dt.total_seconds()
test_df['DayPosition'] = test_df['ts'].dt.dayofweek
test_df['IsWorkDay'] = test_df['ts'].dt.weekday < 5
test_df['IsWorkDay'] = test_df['IsWorkDay'].astype(int)

Проверим для первого пользователя всё ли у нас хорошо.

In [6]:
test_df

,ts,gate_id,user_word,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay
37518,2023-01-03 08:21:00,9,gini,1.672734e+09,2023,1,3,30060.0,1,1
37519,2023-01-03 08:21:00,9,gini,1.672734e+09,2023,1,3,30060.0,1,1
37520,2023-01-03 08:21:18,5,gini,1.672734e+09,2023,1,3,30078.0,1,1
37521,2023-01-03 08:21:19,5,gini,1.672734e+09,2023,1,3,30079.0,1,1
37522,2023-01-03 08:21:39,10,gini,1.672734e+09,2023,1,3,30099.0,1,1
...,...,...,...,...,...,...,...,...,...,...
44638,2023-02-24 19:43:36,11,collinear,1.677268e+09,2023,2,24,71016.0,4,1
44639,2023-02-24 19:44:00,4,collinear,1.677268e+09,2023,2,24,71040.0,4,1
44640,2023-02-24 19:44:01,4,collinear,1.677268e+09,2023,2,24,71041.0,4,1
44641,2023-02-24 19:44:09,9,collinear,1.677268e+09,2023,2,24,71049.0,4,1
44642,2023-02-24 19:44:09,9,collinear,1.677268e+09,2023,2,24,71049.0,4,1

In [7]:
train_df

,user_id,ts,gate_id,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay
0,18,2022-07-29 09:08:54,7,1.659086e+09,2022,7,29,32934.0,4,1
1,18,2022-07-29 09:09:54,9,1.659086e+09,2022,7,29,32994.0,4,1
2,18,2022-07-29 09:09:54,9,1.659086e+09,2022,7,29,32994.0,4,1
3,18,2022-07-29 09:10:06,5,1.659086e+09,2022,7,29,33006.0,4,1
4,18,2022-07-29 09:10:08,5,1.659086e+09,2022,7,29,33008.0,4,1
...,...,...,...,...,...,...,...,...,...,...
37513,6,2022-12-31 20:38:56,11,1.672519e+09,2022,12,31,74336.0,5,0
37514,6,2022-12-31 20:39:22,6,1.672519e+09,2022,12,31,74362.0,5,0
37515,6,2022-12-31 20:39:23,6,1.672519e+09,2022,12,31,74363.0,5,0
37516,6,2022-12-31 20:39:31,9,1.672519e+09,2022,12,31,74371.0,5,0
37517,6,2022-12-31 20:39:31,9,1.672519e+09,2022,12,31,74371.0,5,0

In [8]:
train_df.loc[train_df['user_id']== 3]

,user_id,ts,gate_id,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay
20,3,2022-07-29 09:40:40,7,1.659088e+09,2022,7,29,34840.0,4,1
21,3,2022-07-29 09:42:49,9,1.659088e+09,2022,7,29,34969.0,4,1
22,3,2022-07-29 09:42:49,9,1.659088e+09,2022,7,29,34969.0,4,1
23,3,2022-07-29 09:43:01,5,1.659088e+09,2022,7,29,34981.0,4,1
24,3,2022-07-29 09:43:03,5,1.659088e+09,2022,7,29,34983.0,4,1
...,...,...,...,...,...,...,...,...,...,...
37243,3,2022-12-30 09:17:59,5,1.672392e+09,2022,12,30,33479.0,4,1
37244,3,2022-12-30 09:18:26,10,1.672392e+09,2022,12,30,33506.0,4,1
37445,3,2022-12-30 18:46:40,11,1.672426e+09,2022,12,30,67600.0,4,1
37446,3,2022-12-30 18:47:08,4,1.672426e+09,2022,12,30,67628.0,4,1
37447,3,2022-12-30 18:47:10,4,1.672426e+09,2022,12,30,67630.0,4,1

In [9]:
train_df.loc[train_df['user_id']== 3].head(20)

,user_id,ts,gate_id,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay
20,3,2022-07-29 09:40:40,7,1.659088e+09,2022,7,29,34840.0,4,1
21,3,2022-07-29 09:42:49,9,1.659088e+09,2022,7,29,34969.0,4,1
22,3,2022-07-29 09:42:49,9,1.659088e+09,2022,7,29,34969.0,4,1
23,3,2022-07-29 09:43:01,5,1.659088e+09,2022,7,29,34981.0,4,1
24,3,2022-07-29 09:43:03,5,1.659088e+09,2022,7,29,34983.0,4,1
25,3,2022-07-29 09:43:29,10,1.659088e+09,2022,7,29,35009.0,4,1
197,3,2022-07-29 12:57:17,11,1.659099e+09,2022,7,29,46637.0,4,1
198,3,2022-07-29 12:57:42,4,1.659099e+09,2022,7,29,46662.0,4,1
199,3,2022-07-29 12:57:44,4,1.659099e+09,2022,7,29,46664.0,4,1
253,3,2022-07-29 14:00:48,7,1.659103e+09,2022,7,29,50448.0,4,1
254,3,2022-07-29 14:01:45,3,1.659103e+09,2022,7,29,50505.0,4,1
255,3,2022-07-29 14:01:46,3,1.659103e+09,2022,7,29,50506.0,4,1
256,3,2022-07-29 14:02:10,10,1.659103e+09,2022,7,29,50530.0,4,1
425,3,2022-07-29 18:31:59,11,1.659120e+09,2022,7,29,66719.0,4,1
426,3,2022-07-29 18:32:25,4,1.659120e+09,2022,7,29,66745.0,4,1
427,3,2022-07-29 18:32:26,4,1.659120e+09,2022,7,29,66746.0,4,1
563,3,2022-08-01 08:52:55,7,1.659344e+09,2022,8,1,31975.0,0,1
564,3,2022-08-01 08:53:58,9,1.659344e+09,2022,8,1,32038.0,0,1
565,3,2022-08-01 08:53:58,9,1.659344e+09,2022,8,1,32038.0,0,1
566,3,2022-08-01 08:54:16,5,1.659344e+09,2022,8,1,32056.0,0,1

Что мы видим? 
1) У нас есть дубликаты записей, которые нужно удалить; 
2) Если мы предполагаем что за пользователем только один человек и у нас валидные данные, то у нас получается, что 3-ий пользователь вошёл в 9:40 и в конце вечера снова вошёл в здание и не ушёл, что не совсем реалистично. 
А значит делать фичу на вход/выход делать бессмысленно. А может нужно просто выкинуть первый день?
3) Стоит попробовать всё-таки выкинуть первый день и добавить фичу зашёл/вышел.

## Удаляем дубликаты

In [10]:
train_df = train_df.drop_duplicates(subset=['ts', 'user_id'])
test_df = test_df.drop_duplicates(subset=['ts', 'user_word'])

In [11]:
train_df

,user_id,ts,gate_id,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay
0,18,2022-07-29 09:08:54,7,1.659086e+09,2022,7,29,32934.0,4,1
1,18,2022-07-29 09:09:54,9,1.659086e+09,2022,7,29,32994.0,4,1
3,18,2022-07-29 09:10:06,5,1.659086e+09,2022,7,29,33006.0,4,1
4,18,2022-07-29 09:10:08,5,1.659086e+09,2022,7,29,33008.0,4,1
5,18,2022-07-29 09:10:34,10,1.659086e+09,2022,7,29,33034.0,4,1
...,...,...,...,...,...,...,...,...,...,...
37512,6,2022-12-31 17:21:19,10,1.672507e+09,2022,12,31,62479.0,5,0
37513,6,2022-12-31 20:38:56,11,1.672519e+09,2022,12,31,74336.0,5,0
37514,6,2022-12-31 20:39:22,6,1.672519e+09,2022,12,31,74362.0,5,0
37515,6,2022-12-31 20:39:23,6,1.672519e+09,2022,12,31,74363.0,5,0
37516,6,2022-12-31 20:39:31,9,1.672519e+09,2022,12,31,74371.0,5,0

In [12]:
train_df.loc[train_df['user_id']== 3]

,user_id,ts,gate_id,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay
20,3,2022-07-29 09:40:40,7,1.659088e+09,2022,7,29,34840.0,4,1
21,3,2022-07-29 09:42:49,9,1.659088e+09,2022,7,29,34969.0,4,1
23,3,2022-07-29 09:43:01,5,1.659088e+09,2022,7,29,34981.0,4,1
24,3,2022-07-29 09:43:03,5,1.659088e+09,2022,7,29,34983.0,4,1
25,3,2022-07-29 09:43:29,10,1.659088e+09,2022,7,29,35009.0,4,1
...,...,...,...,...,...,...,...,...,...,...
37243,3,2022-12-30 09:17:59,5,1.672392e+09,2022,12,30,33479.0,4,1
37244,3,2022-12-30 09:18:26,10,1.672392e+09,2022,12,30,33506.0,4,1
37445,3,2022-12-30 18:46:40,11,1.672426e+09,2022,12,30,67600.0,4,1
37446,3,2022-12-30 18:47:08,4,1.672426e+09,2022,12,30,67628.0,4,1
37447,3,2022-12-30 18:47:10,4,1.672426e+09,2022,12,30,67630.0,4,1

In [13]:
test_df

,ts,gate_id,user_word,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay
37518,2023-01-03 08:21:00,9,gini,1.672734e+09,2023,1,3,30060.0,1,1
37520,2023-01-03 08:21:18,5,gini,1.672734e+09,2023,1,3,30078.0,1,1
37521,2023-01-03 08:21:19,5,gini,1.672734e+09,2023,1,3,30079.0,1,1
37522,2023-01-03 08:21:39,10,gini,1.672734e+09,2023,1,3,30099.0,1,1
37523,2023-01-03 08:32:49,15,epsilon,1.672735e+09,2023,1,3,30769.0,1,1
...,...,...,...,...,...,...,...,...,...,...
44637,2023-02-24 17:08:57,10,collinear,1.677259e+09,2023,2,24,61737.0,4,1
44638,2023-02-24 19:43:36,11,collinear,1.677268e+09,2023,2,24,71016.0,4,1
44639,2023-02-24 19:44:00,4,collinear,1.677268e+09,2023,2,24,71040.0,4,1
44640,2023-02-24 19:44:01,4,collinear,1.677268e+09,2023,2,24,71041.0,4,1
44641,2023-02-24 19:44:09,9,collinear,1.677268e+09,2023,2,24,71049.0,4,1

## Убираем первый день из train

In [14]:
target_date = pd.to_datetime('2022-07-29')

# Установите фильтр для удаления данных за указанный день
filter_condition = train_df['ts'].dt.date != target_date.date()

# Примените фильтр к DataFrame
train_df = train_df[filter_condition]

In [15]:
train_df

,user_id,ts,gate_id,Time,DayPosition,IsWorkDay
505,29,2022-07-30 09:53:31,7,1.659175e+09,5,0
506,29,2022-07-30 09:55:15,9,1.659175e+09,5,0
508,29,2022-07-30 09:55:24,5,1.659175e+09,5,0
509,29,2022-07-30 09:55:26,5,1.659175e+09,5,0
510,29,2022-07-30 09:55:54,10,1.659175e+09,5,0
...,...,...,...,...,...,...
37512,6,2022-12-31 17:21:19,10,1.672507e+09,5,0
37513,6,2022-12-31 20:38:56,11,1.672519e+09,5,0
37514,6,2022-12-31 20:39:22,6,1.672519e+09,5,0
37515,6,2022-12-31 20:39:23,6,1.672519e+09,5,0
37516,6,2022-12-31 20:39:31,9,1.672519e+09,5,0

Добавляем в train столбец вошёл/вышел

In [16]:
train_df['isEnter'] = train_df.groupby('user_id').cumcount() % 2 == 0

C:\Users\Skiv2\AppData\Local\Temp\ipykernel_14520\1601702820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['isEnter'] = train_df.groupby('user_id').cumcount() % 2 == 0

In [17]:
train_df

,user_id,ts,gate_id,Time,DayPosition,IsWorkDay,isEnter
505,29,2022-07-30 09:53:31,7,1.659175e+09,5,0,True
506,29,2022-07-30 09:55:15,9,1.659175e+09,5,0,False
508,29,2022-07-30 09:55:24,5,1.659175e+09,5,0,True
509,29,2022-07-30 09:55:26,5,1.659175e+09,5,0,False
510,29,2022-07-30 09:55:54,10,1.659175e+09,5,0,True
...,...,...,...,...,...,...,...
37512,6,2022-12-31 17:21:19,10,1.672507e+09,5,0,False
37513,6,2022-12-31 20:38:56,11,1.672519e+09,5,0,True
37514,6,2022-12-31 20:39:22,6,1.672519e+09,5,0,False
37515,6,2022-12-31 20:39:23,6,1.672519e+09,5,0,True
37516,6,2022-12-31 20:39:31,9,1.672519e+09,5,0,False

In [ ]:
train_df.loc[train_df['user_id']== 29]

In [19]:
test_df['isEnter'] = test_df.groupby('user_word').cumcount() % 2 == 0

C:\Users\Skiv2\AppData\Local\Temp\ipykernel_14520\380260690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['isEnter'] = test_df.groupby('user_word').cumcount() % 2 == 0

In [20]:
test_df

,ts,gate_id,user_word,Time,DayPosition,IsWorkDay,isEnter
37518,2023-01-03 08:21:00,9,gini,1.672734e+09,1,1,True
37520,2023-01-03 08:21:18,5,gini,1.672734e+09,1,1,False
37521,2023-01-03 08:21:19,5,gini,1.672734e+09,1,1,True
37522,2023-01-03 08:21:39,10,gini,1.672734e+09,1,1,False
37523,2023-01-03 08:32:49,15,epsilon,1.672735e+09,1,1,True
...,...,...,...,...,...,...,...
44637,2023-02-24 17:08:57,10,collinear,1.677259e+09,4,1,False
44638,2023-02-24 19:43:36,11,collinear,1.677268e+09,4,1,True
44639,2023-02-24 19:44:00,4,collinear,1.677268e+09,4,1,False
44640,2023-02-24 19:44:01,4,collinear,1.677268e+09,4,1,True
44641,2023-02-24 19:44:09,9,collinear,1.677268e+09,4,1,False

In [21]:
test_df.loc[test_df['user_word'] == 'gini']

,ts,gate_id,user_word,Time,DayPosition,IsWorkDay,isEnter
37518,2023-01-03 08:21:00,9,gini,1.672734e+09,1,1,True
37520,2023-01-03 08:21:18,5,gini,1.672734e+09,1,1,False
37521,2023-01-03 08:21:19,5,gini,1.672734e+09,1,1,True
37522,2023-01-03 08:21:39,10,gini,1.672734e+09,1,1,False
37563,2023-01-03 10:47:32,11,gini,1.672743e+09,1,1,True
...,...,...,...,...,...,...,...
44565,2023-02-23 08:06:18,10,gini,1.677140e+09,3,1,True
44575,2023-02-23 17:56:59,11,gini,1.677175e+09,3,1,False
44576,2023-02-23 17:57:16,4,gini,1.677175e+09,3,1,True
44577,2023-02-23 17:57:18,4,gini,1.677175e+09,3,1,False
44578,2023-02-23 17:57:25,9,gini,1.677175e+09,3,1,True

# Прогнозируем

Необходимо построить деревья и ансамбли деревьев и вывести лучшую модель

In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import xgboost as xgb

In [23]:
# Подготовим данные для обучения
train_data  = pd.DataFrame(train_df)
test_data  = pd.DataFrame(test_df)
train_data['ts'] = pd.to_datetime(train_data['ts']).astype(np.int64) / 10**9
test_data['ts'] = pd.to_datetime(test_data['ts']).astype(np.int64) / 10**9
X_train = train_data[['gate_id', 'DayPosition', 'IsWorkDay', 'Year', 'Month', 'Day', "Time(unix)"]]
y_train = train_data['user_id']

In [24]:
X_train

       gate_id  DayPosition  IsWorkDay  Year  Month  Day  Time(unix)
0            7            4          1  2022      7   29     32934.0
1            9            4          1  2022      7   29     32994.0
3            5            4          1  2022      7   29     33006.0
4            5            4          1  2022      7   29     33008.0
5           10            4          1  2022      7   29     33034.0
...        ...          ...        ...   ...    ...  ...         ...
37512       10            5          0  2022     12   31     62479.0
37513       11            5          0  2022     12   31     74336.0
37514        6            5          0  2022     12   31     74362.0
37515        6            5          0  2022     12   31     74363.0
37516        9            5          0  2022     12   31     74371.0

[35170 rows x 7 columns]

In [25]:
# Получим уникальные значения классов
unique_classes = sorted(y_train.unique())

In [145]:
# Создадим и обучим решающее дерево
model = DecisionTreeClassifier(random_state = 42)
model.fit(X_train, y_train_vectorized)

AttributeError: 'int' object has no attribute 'lower'

In [27]:

# Предскажем user_id для тестовых данных
test_predictions = model.predict(test_data[['gate_id', 'DayPosition', 'IsWorkDay', 'Year', 'Month', 'Day', "Time(unix)"]])

# Добавим предсказания в тестовый набор данных
test_data['predicted_user_id'] = test_predictions

# Выведем результаты
print(test_data[['ts', 'gate_id', 'user_word', 'predicted_user_id']])

                 ts  gate_id  user_word  predicted_user_id
37518  1.672734e+09        9       gini                  1
37520  1.672734e+09        5       gini                  1
37521  1.672734e+09        5       gini                  1
37522  1.672734e+09       10       gini                  1
37523  1.672735e+09       15    epsilon                 49
...             ...      ...        ...                ...
44637  1.677259e+09       10  collinear                 45
44638  1.677268e+09       11  collinear                 23
44639  1.677268e+09        4  collinear                 31
44640  1.677268e+09        4  collinear                 31
44641  1.677268e+09        9  collinear                 47

[6620 rows x 4 columns]

In [28]:
result = test_data.groupby(['user_word', 'predicted_user_id']).size().reset_index(name='count')
result = result.rename(columns={'size': 'count'})
result = result.sort_values(['user_word', 'count'], ascending=[True, False])
result = result.drop_duplicates(subset='user_word', keep='first')

In [29]:
print(result[['user_word', 'predicted_user_id']])

        user_word  predicted_user_id
2          aucroc                 12
18         binary                  6
50           blue                  6
61    categorical                 18
86    coefficient                  3
107     collinear                 18
154   distributed                 50
160       epsilon                  1
199            f1                 18
228           fit                  6
256          gini                  6
283   independent                  6
310         lasso                  6
321        linear                  3
345      logistic                 49
358          loss                 19
385        matrix                  6
431  minimization                 49
453           mse                 53
459           ols                  6
488     precision                 19
504       predict                 11
535        pvalue                 20
560            r2                 15
593        recall                 18
617    regression                 37
653      residual                 54
668         ridge                 29
685       sigmoid                  6
740   significant                 47
772        target                 55
777         tstat                  6
811             x                 18
846             y                 55

In [30]:
# Группируем данные по user_word и predicted_user_id, затем выбираем наиболее часто встречающийся user_id
result = test_data.groupby(['user_word', 'predicted_user_id']).size().reset_index(name='count')
result = result.rename(columns={'size': 'count'})

In [31]:
result

    user_word  predicted_user_id  count
0      aucroc                  6      1
1      aucroc                 11      2
2      aucroc                 12      7
3      aucroc                 15      2
4      aucroc                 19      2
..        ...                ...    ...
842         y                 40      3
843         y                 47      2
844         y                 50      1
845         y                 54      4
846         y                 55     14

[847 rows x 3 columns]

In [32]:
# Формируем таблицу с желаемым форматом вывода
pivot_result = result.pivot_table(index='user_word', columns='predicted_user_id', values='count', fill_value=0)

# Нормализуем значения в таблице, деля на общее количество для каждого user_word
pivot_result = pivot_result.div(pivot_result.sum(axis=1), axis=0)

In [33]:
# Выведем результаты
print(pivot_result)

predicted_user_id        0         1         3         6         7         8   \
user_word
aucroc             0.000000  0.000000  0.000000  0.027027  0.000000  0.000000
binary             0.024862  0.024862  0.005525  0.118785  0.000000  0.000000
blue               0.166667  0.000000  0.000000  0.500000  0.000000  0.000000
categorical        0.004082  0.020408  0.036735  0.044898  0.000000  0.000000
coefficient        0.000000  0.089286  0.303571  0.107143  0.000000  0.000000
collinear          0.016779  0.020134  0.016779  0.057047  0.000000  0.000000
distributed        0.042735  0.017094  0.042735  0.042735  0.000000  0.008547
epsilon            0.020833  0.113095  0.000000  0.065476  0.000000  0.000000
f1                 0.010086  0.024496  0.018732  0.057637  0.000000  0.002882
fit                0.000000  0.081967  0.081967  0.103825  0.000000  0.000000
gini               0.023715  0.047431  0.173913  0.201581  0.000000  0.000000
independent        0.028777  0.057554  0.039568  0.100719  0.014388  0.000000
lasso              0.060606  0.000000  0.000000  0.303030  0.000000  0.000000
linear             0.025126  0.030151  0.110553  0.050251  0.015075  0.000000
logistic           0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
loss               0.024017  0.021834  0.015284  0.085153  0.004367  0.004367
matrix             0.012739  0.000000  0.000000  0.121019  0.000000  0.000000
minimization       0.052632  0.000000  0.000000  0.073684  0.000000  0.000000
mse                0.038835  0.000000  0.038835  0.077670  0.000000  0.000000
ols                0.057554  0.021583  0.000000  0.122302  0.000000  0.000000
precision          0.000000  0.000000  0.000000  0.055556  0.000000  0.000000
predict            0.043269  0.014423  0.009615  0.048077  0.000000  0.000000
pvalue             0.000000  0.000000  0.000000  0.027624  0.000000  0.000000
r2                 0.032432  0.032432  0.032432  0.043243  0.000000  0.000000
recall             0.014286  0.033333  0.114286  0.033333  0.000000  0.000000
regression         0.000000  0.000000  0.000000  0.040000  0.000000  0.000000
residual           0.000000  0.000000  0.004464  0.049107  0.000000  0.000000
ridge              0.021277  0.014184  0.000000  0.035461  0.000000  0.000000
sigmoid            0.043981  0.023148  0.011574  0.113426  0.000000  0.002315
significant        0.057762  0.000000  0.043321  0.064982  0.000000  0.000000
target             0.018018  0.000000  0.000000  0.036036  0.018018  0.000000
tstat              0.035971  0.007194  0.021583  0.151079  0.000000  0.000000
x                  0.016779  0.026846  0.006711  0.046980  0.000000  0.006711
y                  0.040000  0.060000  0.120000  0.060000  0.000000  0.000000

predicted_user_id        9         11        12        15  ...        47  \
user_word                                                  ...
aucroc             0.000000  0.054054  0.189189  0.054054  ...  0.027027
binary             0.044199  0.058011  0.071823  0.077348  ...  0.030387
blue               0.000000  0.000000  0.000000  0.250000  ...  0.000000
categorical        0.044898  0.069388  0.069388  0.036735  ...  0.040816
coefficient        0.000000  0.000000  0.000000  0.017857  ...  0.017857
collinear          0.023490  0.030201  0.030201  0.036913  ...  0.033557
distributed        0.008547  0.102564  0.059829  0.042735  ...  0.008547
epsilon            0.020833  0.029762  0.038690  0.074405  ...  0.005952
f1                 0.020173  0.017291  0.017291  0.036023  ...  0.050432
fit                0.060109  0.010929  0.016393  0.049180  ...  0.038251
gini               0.003953  0.007905  0.011858  0.059289  ...  0.055336
independent        0.003597  0.064748  0.021583  0.053957  ...  0.003597
lasso              0.121212  0.000000  0.000000  0.181818  ...  0.000000
linear             0.000000  0.045226  0.020101  0.080402  ...  0.020101
logistic           0.000000  0.000000  0.000000  0.000000  ...  0.000000
loss               0.006550  0.019651  0.024017  0.041485  ...  0.013100
matrix             0.063694  0.012739  0.031847  0.012739  ...  0.121019
minimization       0.010526  0.000000  0.010526  0.052632  ...  0.031579
mse                0.029126  0.067961  0.058252  0.077670  ...  0.009709
ols                0.035971  0.057554  0.014388  0.014388  ...  0.014388
precision          0.129630  0.037037  0.037037  0.037037  ...  0.018519
predict            0.033654  0.067308  0.038462  0.062500  ...  0.038462
pvalue             0.005525  0.005525  0.011050  0.033149  ...  0.044199
r2                 0.016216  0.032432  0.037838  0.102703  ...  0.043243
recall             0.019048  0.009524  0.004762  0.047619  ...  0.109524
regression         0.000000  0.060000  0.060000  0.020000  ...  0.180000
residual           0.031250  0.013393  0.035714  0.013393  ...  0.066964
ridge              0.007092  0.014184  0.049645  0.014184  ...  0.028369
sigmoid            0.023148  0.048611  0.053241  0.018519  ...  0.030093
significant        0.007220  0.007220  0.025271  0.036101  ...  0.079422
target             0.027027  0.063063  0.045045  0.018018  ...  0.018018
tstat              0.079137  0.057554  0.064748  0.028777  ...  0.014388
x                  0.013423  0.010067  0.016779  0.030201  ...  0.057047
y                  0.040000  0.000000  0.020000  0.000000  ...  0.040000

predicted_user_id        48        49        50        52        53        54  \
user_word
aucroc             0.027027  0.162162  0.081081  0.000000  0.000000  0.000000
binary             0.035912  0.033149  0.008287  0.002762  0.035912  0.027624
blue               0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
categorical        0.016327  0.065306  0.044898  0.000000  0.040816  0.044898
coefficient        0.178571  0.035714  0.000000  0.000000  0.035714  0.000000
collinear          0.030201  0.046980  0.016779  0.000000  0.033557  0.026846
distributed        0.017094  0.034188  0.111111  0.000000  0.025641  0.076923
epsilon            0.017857  0.086310  0.038690  0.000000  0.029762  0.032738
f1                 0.037464  0.030259  0.021614  0.007205  0.014409  0.025937
fit                0.010929  0.027322  0.010929  0.000000  0.043716  0.010929
gini               0.019763  0.015810  0.035573  0.000000  0.007905  0.011858
independent        0.014388  0.057554  0.043165  0.000000  0.014388  0.003597
lasso              0.000000  0.060606  0.000000  0.000000  0.000000  0.000000
linear             0.000000  0.035176  0.010050  0.000000  0.050251  0.000000
logistic           0.000000  0.600000  0.000000  0.000000  0.000000  0.400000
loss               0.028384  0.013100  0.008734  0.000000  0.034934  0.004367
matrix             0.050955  0.025478  0.012739  0.000000  0.031847  0.031847
minimization       0.084211  0.094737  0.000000  0.000000  0.052632  0.042105
mse                0.048544  0.019417  0.038835  0.000000  0.087379  0.087379
ols                0.057554  0.021583  0.050360  0.000000  0.035971  0.071942
precision          0.000000  0.037037  0.000000  0.000000  0.055556  0.148148
predict            0.033654  0.038462  0.024038  0.000000  0.048077  0.043269
pvalue             0.160221  0.077348  0.071823  0.000000  0.066298  0.066298
r2                 0.043243  0.059459  0.027027  0.000000  0.032432  0.021622
recall             0.000000  0.014286  0.000000  0.000000  0.023810  0.023810
regression         0.040000  0.020000  0.000000  0.000000  0.120000  0.000000
residual           0.075893  0.049107  0.017857  0.000000  0.049107  0.089286
ridge              0.035461  0.014184  0.063830  0.000000  0.028369  0.000000
sigmoid            0.020833  0.041667  0.020833  0.000000  0.064815  0.050926
significant        0.057762  0.021661  0.039711  0.000000  0.072202  0.036101
target             0.045045  0.063063  0.081081  0.000000  0.018018  0.045045
tstat              0.035971  0.028777  0.035971  0.000000  0.014388  0.043165
x                  0.030201  0.026846  0.016779  0.000000  0.036913  0.016779
y                  0.000000  0.000000  0.020000  0.000000  0.000000  0.080000

predicted_user_id        55        56        57
user_word
aucroc             0.000000  0.000000  0.000000
binary             0.011050  0.000000  0.008287
blue               0.000000  0.000000  0.000000
categorical        0.061224  0.000000  0.004082
coefficient        0.000000  0.000000  0.035714
collinear          0.053691  0.000000  0.006711
distributed        0.025641  0.000000  0.068376
epsilon            0.062500  0.026786  0.008929
f1                 0.046110  0.000000  0.010086
fit                0.103825  0.000000  0.021858
gini               0.083004  0.000000  0.015810
independent        0.043165  0.000000  0.032374
lasso              0.000000  0.000000  0.060606
linear             0.060302  0.000000  0.105528
logistic           0.000000  0.000000  0.000000
loss               0.045852  0.000000  0.002183
matrix             0.012739  0.000000  0.050955
minimization       0.042105  0.000000  0.000000
mse                0.058252  0.000000  0.019417
ols                0.079137  0.000000  0.014388
precision          0.000000  0.000000  0.000000
predict            0.024038  0.000000  0.009615
pvalue             0.005525  0.000000  0.011050
r2                 0.021622  0.000000  0.059459
recall             0.038095  0.000000  0.004762
regression         0.060000  0.000000  0.000000
residual           0.044643  0.017857  0.000000
ridge              0.120567  0.000000  0.028369
sigmoid            0.050926  0.000000  0.009259
significant        0.057762  0.000000  0.003610
target             0.099099  0.018018  0.000000
tstat              0.028777  0.000000  0.050360
x                  0.053691  0.000000  0.016779
y                  0.280000  0.000000  0.000000

[34 rows x 41 columns]

In [35]:
pivot_result.to_csv("Result.csv")

In [46]:

result_table = pd.DataFrame(columns=['user_word', 
'first_best_id', 'first_best_id_prob', 'first_best_id_dev', 
'second_best_id', 'second_best_id_prob', 'second_best_id_dev', 
'third_best_id', 'third_best_id_prob', 'third_best_id_dev', 
'fourth_best_id', 'fourth_best_id_prob', 'fourth_best_id_dev', 
'fifth_best_id', 'fifth_best_id_prob', 'fifth_best_id_dev'])

for user_word, row in pivot_result.iterrows():
    sorted_row = row.sort_values(ascending=False)
    top_5 = sorted_row.nlargest(5)
    
    row_data = {
        'user_word': user_word,
        'first_best_id': top_5.index[0],
        'first_best_id_prob': round(top_5.iloc[0], 3),
        'first_best_id_dev': round(top_5.iloc[0] - row.mean(), 3),
        'second_best_id': top_5.index[1],
        'second_best_id_prob': round(top_5.iloc[1], 3),
        'second_best_id_dev': round(top_5.iloc[1] - row.mean(), 3),
        'third_best_id': top_5.index[2],
        'third_best_id_prob': round(top_5.iloc[2], 3),
        'third_best_id_dev': round(top_5.iloc[2] - row.mean(), 3),
        'fourth_best_id': top_5.index[3],
        'fourth_best_id_prob': round(top_5.iloc[3], 3),
        'fourth_best_id_dev': round(top_5.iloc[3] - row.mean(), 3),
        'fifth_best_id': top_5.index[4],
        'fifth_best_id_prob': round(top_5.iloc[4], 3),
        'fifth_best_id_dev': round(top_5.iloc[4] - row.mean(), 3),
    }
    
    result_table= pd.concat([result_table, pd.DataFrame([row_data])], ignore_index=True)

# Выведем результаты
print(result_table)

       user_word first_best_id  first_best_id_prob  first_best_id_dev  \
0         aucroc            12               0.189              0.165
1         binary             6               0.119              0.094
2           blue             6               0.500              0.476
3    categorical            18               0.090              0.065
4    coefficient             3               0.304              0.279
5      collinear            18               0.114              0.090
6    distributed            50               0.111              0.087
7        epsilon             1               0.113              0.089
8             f1            18               0.138              0.114
9            fit            29               0.104              0.079
10          gini             6               0.202              0.177
11   independent             6               0.101              0.076
12         lasso             6               0.303              0.279
13        linear             3               0.111              0.086
14      logistic            49               0.600              0.576
15          loss            19               0.238              0.214
16        matrix            47               0.121              0.097
17  minimization            49               0.095              0.070
18           mse            54               0.087              0.063
19           ols             6               0.122              0.098
20     precision            54               0.148              0.124
21       predict            11               0.067              0.043
22        pvalue            20               0.182              0.158
23            r2            15               0.103              0.078
24        recall            18               0.195              0.171
25    regression            37               0.180              0.156
26      residual            54               0.089              0.065
27         ridge            29               0.128              0.103
28       sigmoid             6               0.113              0.089
29   significant            47               0.079              0.055
30        target            55               0.099              0.075
31         tstat             6               0.151              0.127
32             x            18               0.168              0.143
33             y            55               0.280              0.256

   second_best_id  second_best_id_prob  second_best_id_dev third_best_id  \
0              49                0.162               0.138            29
1              15                0.077               0.053            12
2              15                0.250               0.226             0
3              11                0.069               0.045            12
4              48                0.179               0.154             6
5               6                0.057               0.033            37
6              11                0.103               0.078            54
7              49                0.086               0.062            18
8              19                0.114               0.089            37
9               6                0.104               0.079            55
10              3                0.174               0.150            55
11             18                0.094               0.069            37
12             15                0.182               0.157             9
13             57                0.106               0.081            15
14             54                0.400               0.376             0
15             37                0.103               0.078             6
16              6                0.121               0.097            27
17             20                0.084               0.060            48
18             53                0.087               0.063             6
19             55                0.079               0.055            54
20             19                0.148               0.124             9
21             18                0.067               0.043            15
22             48                0.160               0.136            49
23             37                0.081               0.057            57
24              3                0.114               0.090            47
25             47                0.180               0.156            53
26             48                0.076               0.052            19
27             55                0.121               0.096            37
28             53                0.065               0.040            18
29             53                0.072               0.048             6
30             37                0.090               0.066            50
31              9                0.079               0.055            12
32             19                0.128               0.103            37
33              3                0.120               0.096            33

    third_best_id_prob  third_best_id_dev fourth_best_id  fourth_best_id_prob  \
0                0.108              0.084             50                0.081
1                0.072              0.047             19                0.064
2                0.167              0.142             18                0.083
3                0.069              0.045             49                0.065
4                0.107              0.083              1                0.089
5                0.057              0.033             55                0.054
6                0.077              0.053             57                0.068
7                0.080              0.056             15                0.074
8                0.110              0.085              6                0.058
9                0.104              0.079              3                0.082
10               0.083              0.059             18                0.067
11               0.076              0.051             11                0.065
12               0.121              0.097             18                0.091
13               0.080              0.056             37                0.075
14               0.000             -0.024             46                0.000
15               0.085              0.061             18                0.066
16               0.108              0.084              9                0.064
17               0.084              0.060              6                0.074
18               0.078              0.053             15                0.078
19               0.072              0.048             18                0.072
20               0.130              0.105             29                0.093
21               0.062              0.038             29                0.058
22               0.077              0.053             50                0.072
23               0.059              0.035             49                0.059
24               0.110              0.085             39                0.090
25               0.120              0.096             27                0.080
26               0.071              0.047             47                0.067
27               0.099              0.075             19                0.071
28               0.058              0.033             12                0.053
29               0.065              0.041              0                0.058
30               0.081              0.057             19                0.081
31               0.065              0.040             11                0.058
32               0.084              0.060             47                0.057
33               0.080              0.056             54                0.080

    fourth_best_id_dev fifth_best_id  fifth_best_id_prob  fifth_best_id_dev
0                0.057            26               0.054              0.030
1                0.039            37               0.058              0.034
2                0.059            47               0.000             -0.024
3                0.041            55               0.061              0.037
4                0.065            18               0.054              0.029
5                0.029            49               0.047              0.023
6                0.044            12               0.060              0.035
7                0.050             6               0.065              0.041
8                0.033            27               0.056              0.032
9                0.058             1               0.082              0.058
10               0.043            15               0.059              0.035
11               0.040            29               0.061              0.037
12               0.067             0               0.061              0.036
13               0.051            18               0.075              0.051
14              -0.024            33               0.000             -0.024
15               0.041            55               0.046              0.021
16               0.039            19               0.057              0.033
17               0.049            19               0.074              0.049
18               0.053            11               0.068              0.044
19               0.048            37               0.072              0.048
20               0.068            32               0.074              0.050
21               0.033             6               0.048              0.024
22               0.047            54               0.066              0.042
23               0.035             6               0.043              0.019
24               0.066            28               0.076              0.052
25               0.056            55               0.060              0.036
26               0.043            37               0.062              0.038
27               0.047            50               0.064              0.039
28               0.029            55               0.051              0.027
29               0.033            55               0.058              0.033
30               0.057            11               0.063              0.039
31               0.033            37               0.058              0.033
32               0.033            55               0.054              0.029
33               0.056            18               0.060              0.036

C:\Users\Skiv2\AppData\Local\Temp\ipykernel_14396\864234259.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_table= pd.concat([result_table, pd.DataFrame([row_data])], ignore_index=True)

In [47]:
result_table.to_csv("ResultTable.csv")

In [49]:
# Группируем данные по user_id и user_word, затем выбираем наиболее часто встречающиеся user_word
result = test_data.groupby(['predicted_user_id', 'user_word']).size().reset_index(name='count')
result = result.rename(columns={'size': 'count'})

# Получаем таблицу с вероятностями для каждого user_id
pivot_result = result.pivot_table(index='predicted_user_id', columns='user_word', values='count', fill_value=0)

# Нормализуем значения в таблице, деля на общее количество для каждого user_id
pivot_result = pivot_result.div(pivot_result.sum(axis=1), axis=0)

In [53]:
result_table = pd.DataFrame(columns=['user_id', 'first_best_word', 'first_best_word_prob', 'first_best_word_dev', 'second_best_word', 'second_best_word_prob', 'second_best_word_dev', 'third_best_word', 'third_best_word_prob', 'third_best_word_dev', 'fourth_best_word', 'fourth_best_word_prob', 'fourth_best_word_dev', 'fifth_best_word', 'fifth_best_word_prob', 'fifth_best_word_dev'])

for user_id, row in pivot_result.iterrows():
    sorted_row = row.sort_values(ascending=False)
    top_5 = sorted_row.nlargest(5)
    
    row_data = {
        'user_id': user_id,
        'first_best_word': top_5.index[0],
        'first_best_word_prob': round(top_5.iloc[0], 3),
        'first_best_word_dev': round(top_5.iloc[0] - row.mean(), 3),
        'second_best_word': top_5.index[1],
        'second_best_word_prob': round(top_5.iloc[1], 3),
        'second_best_word_dev': round(top_5.iloc[1] - row.mean(), 3),
        'third_best_word': top_5.index[2],
        'third_best_word_prob': round(top_5.iloc[2], 3),
        'third_best_word_dev': round(top_5.iloc[2] - row.mean(), 3),
        'fourth_best_word': top_5.index[3],
        'fourth_best_word_prob': round(top_5.iloc[3], 3),
        'fourth_best_word_dev': round(top_5.iloc[3] - row.mean(), 3),
        'fifth_best_word': top_5.index[4],
        'fifth_best_word_prob': round(top_5.iloc[4], 3),
        'fifth_best_word_dev': round(top_5.iloc[4] - row.mean(), 3),
    }
    
    result_table= pd.concat([result_table, pd.DataFrame([row_data])], ignore_index=True)

# Выведем результаты
print(result_table)

   user_id first_best_word  first_best_word_prob  first_best_word_dev  \
0        0         sigmoid                 0.121                0.092
1        1         epsilon                 0.207                0.177
2        3            gini                 0.205                0.175
3        6            gini                 0.098                0.069
4        7     independent                 0.364                0.334
5        8               x                 0.250                0.221
6        9          binary                 0.102                0.072
7       11          binary                 0.098                0.069
8       12          binary                 0.118                0.089
9       15          binary                 0.095                0.066
10      18              f1                 0.207                0.177
11      19            loss                 0.269                0.240
12      20          pvalue                 0.226                0.197
13      22          pvalue                 0.121                0.092
14      23        residual                 0.222                0.193
15      24         epsilon                 0.165                0.135
16      25               x                 0.192                0.163
17      26         sigmoid                 0.125                0.096
18      27              f1                 0.289                0.259
19      28          recall                 0.842                0.813
20      29              f1                 0.100                0.071
21      31     significant                 0.140                0.110
22      32            loss                 0.154                0.125
23      33              f1                 0.148                0.119
24      34         sigmoid                 0.375                0.346
25      37              f1                 0.181                0.152
26      39          recall                 0.117                0.088
27      40     categorical                 0.204                0.175
28      42              f1                 0.500                0.471
29      45     categorical                 0.174                0.145
30      46              f1                 0.136                0.107
31      47              f1                 0.134                0.104
32      48          pvalue                 0.123                0.093
33      49         epsilon                 0.112                0.082
34      50              f1                 0.083                0.053
35      52              f1                 0.833                0.804
36      53         sigmoid                 0.116                0.086
37      54         sigmoid                 0.102                0.073
38      55              f1                 0.097                0.068
39      56         epsilon                 0.600                0.571
40      57          linear                 0.181                0.152

   second_best_word  second_best_word_prob  second_best_word_dev  \
0       significant                  0.102                 0.072
1                f1                  0.092                 0.063
2            recall                  0.112                 0.082
3           sigmoid                  0.094                 0.065
4            linear                  0.273                 0.243
5              loss                  0.250                 0.221
6                f1                  0.089                 0.060
7           sigmoid                  0.098                 0.069
8           sigmoid                  0.105                 0.075
9           epsilon                  0.085                 0.055
10                x                  0.108                 0.078
11               f1                  0.195                 0.166
12             loss                  0.089                 0.060
13            tstat                  0.091                 0.061
14          sigmoid                  0.111                 0.082
15      independent                  0.127                 0.097
16          sigmoid                  0.192                 0.163
17                x                  0.115                 0.085
18           matrix                  0.126                 0.097
19              ols                  0.105                 0.076
20          sigmoid                  0.076                 0.047
21        collinear                  0.108                 0.078
22        collinear                  0.089                 0.060
23          sigmoid                  0.105                 0.076
24      significant                  0.167                 0.137
25             loss                  0.112                 0.083
26           binary                  0.086                 0.057
27               r2                  0.082                 0.052
28         residual                  0.250                 0.221
29          sigmoid                  0.130                 0.101
30          epsilon                  0.136                 0.107
31           recall                  0.088                 0.058
32               f1                  0.110                 0.081
33               f1                  0.081                 0.051
34           pvalue                  0.072                 0.042
35           binary                  0.167                 0.137
36      significant                  0.083                 0.053
37         residual                  0.093                 0.064
38          sigmoid                  0.067                 0.037
39         residual                  0.267                 0.237
40               r2                  0.095                 0.065

   third_best_word  third_best_word_prob  third_best_word_dev  \
0             loss                 0.070                0.041
1      independent                 0.087                0.058
2           linear                 0.102                0.073
3           binary                 0.083                0.053
4             loss                 0.182                0.152
5               f1                 0.250                0.221
6      categorical                 0.070                0.041
7      independent                 0.084                0.055
8      categorical                 0.077                0.048
9               f1                 0.085                0.055
10          recall                 0.088                0.059
11               x                 0.094                0.064
12          binary                 0.075                0.046
13          target                 0.091                0.061
14     categorical                 0.111                0.082
15         predict                 0.114                0.085
16          matrix                 0.154                0.124
17          binary                 0.104                0.075
18          binary                 0.111                0.082
19          binary                 0.053                0.023
20             fit                 0.076                0.047
21          binary                 0.075                0.046
22     significant                 0.089                0.060
23            gini                 0.068                0.038
24              r2                 0.083                0.054
25               x                 0.060                0.030
26     independent                 0.080                0.051
27               y                 0.061                0.032
28          target                 0.250                0.221
29           ridge                 0.087                0.058
30              r2                 0.114                0.084
31     significant                 0.084                0.055
32        residual                 0.072                0.043
33         sigmoid                 0.069                0.040
34     distributed                 0.072                0.042
35      regression                 0.000               -0.029
36            loss                 0.066                0.037
37              f1                 0.084                0.054
38            loss                 0.064                0.034
39          target                 0.133                0.104
40     independent                 0.078                0.048

   fourth_best_word  fourth_best_word_prob  fourth_best_word_dev  \
0           predict                  0.057                 0.028
1               fit                  0.082                 0.052
2       coefficient                  0.079                 0.050
3                f1                  0.077                 0.048
4            target                  0.182                 0.152
5       distributed                  0.125                 0.096
6             tstat                  0.070                 0.041
7       categorical                  0.079                 0.050
8           epsilon                  0.059                 0.030
9              loss                  0.064                 0.035
10        collinear                  0.073                 0.044
11           binary                  0.057                 0.027
12        collinear                  0.075                 0.046
13      distributed                  0.091                 0.061
14            tstat                  0.111                 0.082
15        collinear                  0.089                 0.059
16      categorical                  0.115                 0.086
17      significant                  0.083                 0.054
18         residual                  0.096                 0.067
19           aucroc                  0.000                -0.029
20            ridge                  0.072                 0.043
21            tstat                  0.075                 0.046
22         residual                  0.081                 0.052
23        collinear                  0.068                 0.038
24        collinear                  0.083                 0.054
25      independent                  0.050                 0.021
26              fit                  0.068                 0.038
27             loss                  0.061                 0.032
28        precision                  0.000                -0.029
29           binary                  0.087                 0.058
30           matrix                  0.114                 0.084
31           matrix                  0.073                 0.043
32      significant                  0.068                 0.038
33      categorical                  0.062                 0.032
34          epsilon                  0.072                 0.042
35              ols                  0.000                -0.029
36           binary                  0.054                 0.024
37           pvalue                  0.056                 0.026
38          epsilon                  0.064                 0.034
39           aucroc                  0.000                -0.029
40           matrix                  0.069                 0.040

   fifth_best_word  fifth_best_word_prob  fifth_best_word_dev
0           binary                 0.057                0.028
1             gini                 0.065                0.036
2              fit                 0.070                0.040
3             loss                 0.075                0.046
4           aucroc                 0.000               -0.029
5          sigmoid                 0.125                0.096
6              fit                 0.070                0.041
7          predict                 0.065                0.036
8               f1                 0.055                0.025
9               r2                 0.064                0.035
10            loss                 0.065                0.035
11         sigmoid                 0.044                0.015
12        residual                 0.062                0.032
13         epsilon                 0.091                0.061
14          pvalue                 0.111                0.082
15         sigmoid                 0.089                0.059
16    minimization                 0.077                0.048
17     independent                 0.073                0.044
18            loss                 0.074                0.045
19      regression                 0.000               -0.029
20     independent                 0.068                0.039
21             mse                 0.065                0.035
22           ridge                 0.065                0.036
23               x                 0.056                0.026
24         epsilon                 0.083                0.054
25          binary                 0.050                0.021
26         epsilon                 0.062                0.032
27     significant                 0.061                0.032
28         predict                 0.000               -0.029
29     coefficient                 0.087                0.058
30       collinear                 0.068                0.039
31               x                 0.065                0.035
32            loss                 0.055                0.026
33     independent                 0.062                0.032
34     independent                 0.066                0.037
35       precision                 0.000               -0.029
36          pvalue                 0.050                0.020
37     categorical                 0.051                0.022
38            gini                 0.064                0.034
39      regression                 0.000               -0.029
40     distributed                 0.069                0.040

C:\Users\Skiv2\AppData\Local\Temp\ipykernel_14396\2011915422.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_table= pd.concat([result_table, pd.DataFrame([row_data])], ignore_index=True)

In [54]:
result_table.to_csv("ReversedResultTable.csv")

In [55]:
# Группируем данные по user_word и predicted_user_id, затем выбираем наиболее часто встречающиеся user_id
result = test_data.groupby(['user_word', 'predicted_user_id']).size().reset_index(name='count')
result = result.rename(columns={'size': 'count'})

# Получаем таблицу с вероятностями для каждого user_word
pivot_result = result.pivot_table(index='user_word', columns='predicted_user_id', values='count', fill_value=0)

# Нормализуем значения в таблице, деля на общее количество для каждого user_word
pivot_result = pivot_result.div(pivot_result.sum(axis=1), axis=0)

In [56]:
# Создадим контейнер для всех id
all_ids = set(test_data['predicted_user_id'].unique())

In [57]:
# Получим уникальные user_word
unique_user_words = test_data['user_word'].unique()

In [62]:
# Создадим таблицу с результатами
final_result = pd.DataFrame(columns=['user_word', 'id'])

# Пройдемся по каждому user_word
for user_word in unique_user_words:
    # Получим доступные id для данного user_word
    available_ids = all_ids.copy()
    
    # Выберем id с наивысшей вероятностью для данного user_word
    top_id = pivot_result.loc[user_word].idxmax()
    
    # Проверим, может ли top_id стать id у другого user_word
    can_become_other_word = False
    for other_word in unique_user_words:
        if other_word != user_word and top_id in pivot_result.loc[other_word].index:
            can_become_other_word = True
            break
    
    if not can_become_other_word:
        # Проверим отклонения top_id от других id для данного user_word
        dev_values = pivot_result.loc[user_word].sort_values(ascending=False).values
        dev_ids = pivot_result.loc[user_word].sort_values(ascending=False).index
        
        for i in range(1, len(dev_values)):
            dev = dev_values[0] - dev_values[i]
            if dev > 0.01:
                # Добавим результат в таблицу
                final_result = final_result.append({'user_word': user_word, 'id': top_id}, ignore_index=True)
                # Удалим выбранный id из доступных
                available_ids.remove(top_id)
                break

# Заполним -999 для user_word, для которых не удалось явно определить id
final_result = final_result.fillna(-999)

# Выведем результаты
print(final_result)

Empty DataFrame
Columns: [user_word, id]
Index: []

In [86]:
# Импорт необходимых библиотек
from sklearn import svm
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score

# Загрузка данных
# Предполагаем, что у вас есть DataFrame df с колонками 'x' и 'y'
# Замените 'path_to_your_data.csv' на путь к вашему файлу данных, если используете данные из файла
# df = pd.read_csv('path_to_your_data.csv')

# Разделение данных на обучающий и тестовый наборы
X_train = test_data['user_word']
y_train = test_data['predicted_user_id']
# Создание и обучение модели CountVectorizer
vectorizer = CountVectorizer()
X_train_vectorized = vectorizer.fit_transform(X_train)
# Создание и обучение модели SVM
model = svm.SVC()
model.fit(X_train_vectorized, y_train)

SVC()

In [79]:
test_data[['user_word']]

       user_word
37518       gini
37520       gini
37521       gini
37522       gini
37523    epsilon
...          ...
44637  collinear
44638  collinear
44639  collinear
44640  collinear
44641  collinear

[6620 rows x 1 columns]

In [87]:
X_test_vectorized = vectorizer.transform(unique_user_words)

In [91]:
y_pred = model.predict(X_train_vectorized)

In [92]:
accuracy = accuracy_score(y_train, y_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.13444108761329304

In [90]:
y_pred

array([ 6,  1,  6, 18,  3, 55, 47,  6, 18, 19,  6, 49, 20, 18, 18,  6,  6,
       54, 49, 18,  6, 12,  6, 18,  6, 50, 53, 29, 15,  6,  3, 37, 18, 19],
      dtype=int64)

In [118]:
pivot_result

predicted_user_id,0,1,3,6,7,8,9,11,12,15,...,47,48,49,50,52,53,54,55,56,57
user_word,,,,,,,,,,,,,,,,,,,,,
aucroc,0.000000,0.000000,0.000000,0.027027,0.000000,0.000000,0.000000,0.054054,0.189189,0.054054,...,0.027027,0.027027,0.162162,0.081081,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
binary,0.024862,0.024862,0.005525,0.118785,0.000000,0.000000,0.044199,0.058011,0.071823,0.077348,...,0.030387,0.035912,0.033149,0.008287,0.002762,0.035912,0.027624,0.011050,0.000000,0.008287
blue,0.166667,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
categorical,0.004082,0.020408,0.036735,0.044898,0.000000,0.000000,0.044898,0.069388,0.069388,0.036735,...,0.040816,0.016327,0.065306,0.044898,0.000000,0.040816,0.044898,0.061224,0.000000,0.004082
coefficient,0.000000,0.089286,0.303571,0.107143,0.000000,0.000000,0.000000,0.000000,0.000000,0.017857,...,0.017857,0.178571,0.035714,0.000000,0.000000,0.035714,0.000000,0.000000,0.000000,0.035714
collinear,0.016779,0.020134,0.016779,0.057047,0.000000,0.000000,0.023490,0.030201,0.030201,0.036913,...,0.033557,0.030201,0.046980,0.016779,0.000000,0.033557,0.026846,0.053691,0.000000,0.006711
distributed,0.042735,0.017094,0.042735,0.042735,0.000000,0.008547,0.008547,0.102564,0.059829,0.042735,...,0.008547,0.017094,0.034188,0.111111,0.000000,0.025641,0.076923,0.025641,0.000000,0.068376
epsilon,0.020833,0.113095,0.000000,0.065476,0.000000,0.000000,0.020833,0.029762,0.038690,0.074405,...,0.005952,0.017857,0.086310,0.038690,0.000000,0.029762,0.032738,0.062500,0.026786,0.008929
f1,0.010086,0.024496,0.018732,0.057637,0.000000,0.002882,0.020173,0.017291,0.017291,0.036023,...,0.050432,0.037464,0.030259,0.021614,0.007205,0.014409,0.025937,0.046110,0.000000,0.010086
fit,0.000000,0.081967,0.081967,0.103825,0.000000,0.000000,0.060109,0.010929,0.016393,0.049180,...,0.038251,0.010929,0.027322,0.010929,0.000000,0.043716,0.010929,0.103825,0.000000,0.021858
gini,0.023715,0.047431,0.173913,0.201581,0.000000,0.000000,0.003953,0.007905,0.011858,0.059289,...,0.055336,0.019763,0.015810,0.035573,0.000000,0.007905,0.011858,0.083004,0.000000,0.015810
independent,0.028777,0.057554,0.039568,0.100719,0.014388,0.000000,0.003597,0.064748,0.021583,0.053957,...,0.003597,0.014388,0.057554,0.043165,0.000000,0.014388,0.003597,0.043165,0.000000,0.032374
lasso,0.060606,0.000000,0.000000,0.303030,0.000000,0.000000,0.121212,0.000000,0.000000,0.181818,...,0.000000,0.000000,0.060606,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.060606
linear,0.025126,0.030151,0.110553,0.050251,0.015075,0.000000,0.000000,0.045226,0.020101,0.080402,...,0.020101,0.000000,0.035176,0.010050,0.000000,0.050251,0.000000,0.060302,0.000000,0.105528
logistic,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000
loss,0.024017,0.021834,0.015284,0.085153,0.004367,0.004367,0.006550,0.019651,0.024017,0.041485,...,0.013100,0.028384,0.013100,0.008734,0.000000,0.034934,0.004367,0.045852,0.000000,0.002183
matrix,0.012739,0.000000,0.000000,0.121019,0.000000,0.000000,0.063694,0.012739,0.031847,0.012739,...,0.121019,0.050955,0.025478,0.012739,0.000000,0.031847,0.031847,0.012739,0.000000,0.050955
minimization,0.052632,0.000000,0.000000,0.073684,0.000000,0.000000,0.010526,0.000000,0.010526,0.052632,...,0.031579,0.084211,0.094737,0.000000,0.000000,0.052632,0.042105,0.042105,0.000000,0.000000
mse,0.038835,0.000000,0.038835,0.077670,0.000000,0.000000,0.029126,0.067961,0.058252,0.077670,...,0.009709,0.048544,0.019417,0.038835,0.000000,0.087379,0.087379,0.058252,0.000000,0.019417
ols,0.057554,0.021583,0.000000,0.122302,0.000000,0.000000,0.035971,0.057554,0.014388,0.014388,...,0.014388,0.057554,0.021583,0.050360,0.000000,0.035971,0.071942,0.079137,0.000000,0.014388
precision,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.129630,0.037037,0.037037,0.037037,...,0.018519,0.000000,0.037037,0.000000,0.000000,0.055556,0.148148,0.000000,0.000000,0.000000
predict,0.043269,0.014423,0.009615,0.048077,0.000000,0.000000,0.033654,0.067308,0.038462,0.062500,...,0.038462,0.033654,0.038462,0.024038,0.000000,0.048077,0.043269,0.024038,0.000000,0.009615
pvalue,0.000000,0.000000,0.000000,0.027624,0.000000,0.000000,0.005525,0.005525,0.011050,0.033149,...,0.044199,0.160221,0.077348,0.071823,0.000000,0.066298,0.066298,0.005525,0.000000,0.011050
r2,0.032432,0.032432,0.032432,0.043243,0.000000,0.000000,0.016216,0.032432,0.037838,0.102703,...,0.043243,0.043243,0.059459,0.027027,0.000000,0.032432,0.021622,0.021622,0.000000,0.059459
recall,0.014286,0.033333,0.114286,0.033333,0.000000,0.000000,0.019048,0.009524,0.004762,0.047619,...,0.109524,0.000000,0.014286,0.000000,0.000000,0.023810,0.023810,0.038095,0.000000,0.004762
regression,0.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,0.060000,0.060000,0.020000,...,0.180000,0.040000,0.020000,0.000000,0.000000,0.120000,0.000000,0.060000,0.000000,0.000000
residual,0.000000,0.000000,0.004464,0.049107,0.000000,0.000000,0.031250,0.013393,0.035714,0.013393,...,0.066964,0.075893,0.049107,0.017857,0.000000,0.049107,0.089286,0.044643,0.017857,0.000000
ridge,0.021277,0.014184,0.000000,0.035461,0.000000,0.000000,0.007092,0.014184,0.049645,0.014184,...,0.028369,0.035461,0.014184,0.063830,0.000000,0.028369,0.000000,0.120567,0.000000,0.028369
sigmoid,0.043981,0.023148,0.011574,0.113426,0.000000,0.002315,0.023148,0.048611,0.053241,0.018519,...,0.030093,0.020833,0.041667,0.020833,0.000000,0.064815,0.050926,0.050926,0.000000,0.009259
significant,0.057762,0.000000,0.043321,0.064982,0.000000,0.000000,0.007220,0.007220,0.025271,0.036101,...,0.079422,0.057762,0.021661,0.039711,0.000000,0.072202,0.036101,0.057762,0.000000,0.003610
target,0.018018,0.000000,0.000000,0.036036,0.018018,0.000000,0.027027,0.063063,0.045045,0.018018,...,0.018018,0.045045,0.063063,0.081081,0.000000,0.018018,0.045045,0.099099,0.018018,0.000000
tstat,0.035971,0.007194,0.021583,0.151079,0.000000,0.000000,0.079137,0.057554,0.064748,0.028777,...,0.014388,0.035971,0.028777,0.035971,0.000000,0.014388,0.043165,0.028777,0.000000,0.050360
x,0.016779,0.026846,0.006711,0.046980,0.000000,0.006711,0.013423,0.010067,0.016779,0.030201,...,0.057047,0.030201,0.026846,0.016779,0.000000,0.036913,0.016779,0.053691,0.000000,0.016779
y,0.040000,0.060000,0.120000,0.060000,0.000000,0.000000,0.040000,0.000000,0.020000,0.000000,...,0.040000,0.000000,0.000000,0.020000,0.000000,0.000000,0.080000,0.280000,0.000000,0.000000

In [134]:
from scipy.optimize import linear_sum_assignment

# Применяем метод Венгерского
row_indices, col_indices = linear_sum_assignment(1 - pivot_result.values)

# Получаем оптимальное соответствие
#matching = {words[row]: f"{col}" for row, col in zip(row_indices, col_indices)}

print(row_indices)
print(col_indices)

#print("Оптимальное соответствие:", matching)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33]
[ 8 17  3 27  2 22 34  1 25 26 23  7  9 40 33 11 18 32 36  0 37 15 12 30
 19 31 14 20 24 21 13  6 10 38]

In [95]:
probability_matrix

array([[9, 'gini', 1672734060.0, ..., 1, 1, 1],
       [5, 'gini', 1672734078.0, ..., 1, 1, 1],
       [5, 'gini', 1672734079.0, ..., 1, 1, 1],
       ...,
       [4, 'collinear', 1677267840.0, ..., 4, 1, 31],
       [4, 'collinear', 1677267841.0, ..., 4, 1, 31],
       [9, 'collinear', 1677267849.0, ..., 4, 1, 47]], dtype=object)

In [96]:
test_data

,ts,gate_id,user_word,Time,Year,Month,Day,Time(unix),DayPosition,IsWorkDay,predicted_user_id
37518,1.672734e+09,9,gini,1.672734e+09,2023,1,3,30060.0,1,1,1
37520,1.672734e+09,5,gini,1.672734e+09,2023,1,3,30078.0,1,1,1
37521,1.672734e+09,5,gini,1.672734e+09,2023,1,3,30079.0,1,1,1
37522,1.672734e+09,10,gini,1.672734e+09,2023,1,3,30099.0,1,1,1
37523,1.672735e+09,15,epsilon,1.672735e+09,2023,1,3,30769.0,1,1,49
...,...,...,...,...,...,...,...,...,...,...,...
44637,1.677259e+09,10,collinear,1.677259e+09,2023,2,24,61737.0,4,1,45
44638,1.677268e+09,11,collinear,1.677268e+09,2023,2,24,71016.0,4,1,23
44639,1.677268e+09,4,collinear,1.677268e+09,2023,2,24,71040.0,4,1,31
44640,1.677268e+09,4,collinear,1.677268e+09,2023,2,24,71041.0,4,1,31
44641,1.677268e+09,9,collinear,1.677268e+09,2023,2,24,71049.0,4,1,47

In [135]:
print(pivot_result.index[row_indices])

print(pivot_result.columns[col_indices])

Index(['aucroc', 'binary', 'blue', 'categorical', 'coefficient', 'collinear',
       'distributed', 'epsilon', 'f1', 'fit', 'gini', 'independent', 'lasso',
       'linear', 'logistic', 'loss', 'matrix', 'minimization', 'mse', 'ols',
       'precision', 'predict', 'pvalue', 'r2', 'recall', 'regression',
       'residual', 'ridge', 'sigmoid', 'significant', 'target', 'tstat', 'x',
       'y'],
      dtype='object', name='user_word')
Index([12, 26,  6, 40,  3, 32, 50,  1, 37, 39, 33, 11, 15, 57, 49, 19, 27, 48,
       53,  0, 54, 24, 20, 46, 28, 47, 23, 29, 34, 31, 22,  9, 18, 55],
      dtype='int64', name='predicted_user_id')

In [139]:
for i in range(len(pivot_result.index[row_indices].values)):
    print(str(pivot_result.index[row_indices].values[i]) + ", " + str(pivot_result.columns[col_indices].values[i]))

aucroc, 12
binary, 26
blue, 6
categorical, 40
coefficient, 3
collinear, 32
distributed, 50
epsilon, 1
f1, 37
fit, 39
gini, 33
independent, 11
lasso, 15
linear, 57
logistic, 49
loss, 19
matrix, 27
minimization, 48
mse, 53
ols, 0
precision, 54
predict, 24
pvalue, 20
r2, 46
recall, 28
regression, 47
residual, 23
ridge, 29
sigmoid, 34
significant, 31
target, 22
tstat, 9
x, 18
y, 55